<mat-card *ngIf="contenido == true" >
    <mat-card-header>
            <div class="col text-right">
            <button class="botonborrado" mat-raised-button >
            Borradores
            </button>&nbsp;&nbsp;&nbsp;
            <button class="botonborrado" mat-raised-button >
            Generar Borrador
            </button></div>
    </mat-card-header>
    <mat-card-content>
          <form [formGroup]="fechaGroup" class="col text-center">         
        <br />
        <h3><strong>Borrador a realizar</strong> </h3>
        <br />
        <br />
        <h6>Seleccione la declaración y el período para el cual desea generar el borrador </h6>
           <br />
        <br />
        <mat-form-field>
            <mat-label>Tramite</mat-label>
            <mat-select formControlName="documento" [(ngModel)]="tramite">
            <mat-option *ngFor="let food of foods" [value]="food.value" >
            {{food.viewValue}}
            </mat-option>
            </mat-select>
        </mat-form-field> &nbsp;&nbsp;&nbsp;&nbsp;
      <mat-form-field *ngIf="this.fechaGroup.value.documento == 'iva'">
        <input matInput [matDatepicker]="dp" placeholder="Month and Year" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp
                        startView="multi-year"
                        (yearSelected)="chosenYearHandler($event)"
                        (monthSelected)="chosenMonthHandler($event, dp)"
                        panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
      <mat-form-field *ngIf="this.fechaGroup.value.documento == 'renta'">
              <mat-label>Periodo</mat-label> 
                 <mat-select >
                     <mat-option  >
                        Natural (ene - dic)
                     </mat-option>
                      <mat-option  >
                        Fiscal (act - set)
                     </mat-option>
                 </mat-select>
              </mat-form-field>
               <mat-form-field *ngIf="this.fechaGroup.value.documento == 'anual'">
              <mat-label>Periodo</mat-label> 
                 <mat-select >
                      <mat-option  >
                        Fiscal (act - set)
                     </mat-option>
                 </mat-select>
              </mat-form-field>
               &nbsp;&nbsp;&nbsp;&nbsp;
         <mat-form-field *ngIf="this.fechaGroup.value.documento == 'renta' || this.fechaGroup.value.documento == 'anual' ">
              <mat-label>Año</mat-label> 
                 <mat-select >
                     <mat-option  >
                        2019
                     </mat-option>
                      <mat-option  >
                        2020
                     </mat-option>
                 </mat-select>
              </mat-form-field>
              <br/>
             <button class="btncomenzar" (click)="comenzarborradorD1()" (click)="vefecha()" type="button"  mat-button>Comenzar -> </button>

        </form>
       
        <br/>
        <div class="footer">
             <h6> Bunker Developers</h6>
        </div>
    </mat-card-content>

</mat-card>
<mat-card *ngIf="iva == true">
     <button class="btncomenzar" (click)="volver()" type="button"  mat-button> Atras </button>
    <app-iva></app-iva>
</mat-card>
<mat-card *ngIf="anual == true">
     <button class="btncomenzar" (click)="volver()" type="button"  mat-button> Atras </button>
    <app-anual></app-anual>
</mat-card>
<mat-card *ngIf="renta == true">
     <button class="btncomenzar" (click)="volver()" type="button"  mat-button> Atras </button>
    <app-renta></app-renta>
</mat-card>