<form [formGroup]="firstFormGroup" novalidate class="">
  <div class="row col text-center">
    <mat-form-field class="col">
         <input matInput placeholder="Nombre del Período" formControlName="nombre">
    </mat-form-field>
    <mat-form-field class="col">
        <input matInput [matDatepicker]="picker1" placeholder="Inicio de Período" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col">
      <input matInput [matDatepicker]="picker2" placeholder="Cierre de Período"
             [formControl]="serializedDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    </div>  
 
  <br/>
    <br/>
  
      <button mat-raised-button color="primary" (click)="guardar()"  style=" width: 100%; text-align: center"
  >Guardar</button> 
</form>
   
