<mat-card>
 
     <mat-card-title class="col text-center">Périodo Activo</mat-card-title>
    
       <label class="col text-center">Nombre:  {{activo.message.name}}</label>
      <label class="col text-center">Fecha Inicio:  {{activo.message.start_date}}</label>
      <label class="col text-center">Fecha Cierre:   {{activo.message.end_date}}</label>

<br/>
 
</mat-card>