<div class="container-fluid">

 
      <div class="col text-center">
          <h6>D151-Proveedores<br>
              Clasificación de documentos </h6>
          <br/>
          <h6>Clasifique los documentos registrados </h6></div>
    <form [formGroup]="firstFormGroup" style="padding-left: 5%" >
        <div class="row">
            <div class="col-md-4">
            <mat-form-field >
                <mat-label>Selecione su Operacion</mat-label>
                <mat-select formControlName="documento" [(ngModel)]="selected">
                    <mat-option  value="compras" (click)="opciontabla()">
                       Compras
                    </mat-option>
                    <mat-option  value="ventas" (click)="opciontabla()">
                       Ventas
                    </mat-option>
                </mat-select>
            </mat-form-field>
            </div>    
            <div class="col-md-4"></div>
            <div class="col-md-4"> 
              
            </div>
            
        </div>
    </form>
      <div class=" my-custom-scrollbar">
        
            <div *ngIf="ventas == false" class=" mb-0">
             <app-home-table [envio]="envio"></app-home-table>
         </div>
            <div *ngIf="ventas == true" class=" mb-0">
             <app-home-table [envio]="envio"></app-home-table>
         </div>
      </div>
      <div class=" col text-right">
       
      </div>




</div>