
<div class="container-fluid">
        <div class="row justify-content-center align-items-center minh-100">
          <div class="col-xs-12 col-md-6 col-lg-4" >
          <br />
           <app-registro-form class="formulario" ></app-registro-form>
      
          <br />
          </div>
      
        </div>
      </div>