.client-grid-container{
    display: flex;
  }
  .client-align-container{
      position: relative;
      margin: 0 auto;
      width: 1200px;
      padding-left: 100px;
    }
    
    @media (max-height: 850px) and (max-width: 1350px) {
      .client-align-container{
        width: 700px;
      }
    }
  
  .client-button-modal{
    float: right;
    margin-top: 540px;
    margin-bottom: 20px;
  }
  
  .client-buttom-close{
    color: #ffffff;
  }

  .btn-group-sm .btn-fab{
    position: fixed !important;
    right: 29px;
  }
  .btn-group .btn-fab{
    position: fixed !important;
    right: 20px;
    bottom: 20px;
  }

    .minh-100 {
      height: 100vh;
    }
    .container-fluid{
      background-color:  #558300;
      width: 100%;
     height: auto;
    }
.formulario {
    height: 60vh;
}