
    <div class="container">

   
        <mat-toolbar class="mat-elevation-z8 font-white" color="primary">
            <mat-toolbar-row class="navbar navbar-expand-sm responsive">
                <div class="col-md-3">
                  <i class="fas fa-toggle-on"></i>&nbsp; Borradores
                </div>
                <div class="col-md-3"><hr class="d-sm-none"></div>
                <div class="col-md-3">
                    <mat-form-field >
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
                    </mat-form-field>
                </div>
               
                <div class="col-md-3">
        
             
        
                </div>
        
             
            </mat-toolbar-row>
        </mat-toolbar>

     <table mat-table
     [dataSource]="dataSource" multiTemplateDataRows
     class="mat-elevation-z8">
<ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
  <th mat-header-cell *matHeaderCellDef class="text-center"> {{column}} </th>


  <td mat-cell *matCellDef="let element"  class="text-center">

    <div *ngIf="column=='Acciones';else text" style="margin-left: 30%" >
      <div class="row text-center" > 
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <div class="client-buttom-edit" title="Ver PDF" (click)="verBorrador(element.urlpdf)">
             <i class="fas fa-file-pdf"></i>
           </div>
        
           &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
         <div class="client-buttom-edit" title="Ver Excel" (click)="verBorrador(element.urlexl)">
             <i class="fas fa-file-excel"></i>
           </div>
               &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
         <div class="client-buttom-edit" title="Ver XML" (click)="verBorrador(element.urlxml)">
            <i class="fas fa-file-alt"></i>
           </div>
   
      </div>

    </div>

    <ng-template #text>
      <div>
        {{element[column]}}
      </div>
    </ng-template>

  </td>


</ng-container>

<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
<ng-container matColumnDef="expandedDetail">
  <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
   

  </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
<tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
</tr>
<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<mat-paginator class="mat-elevation-z8"  [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>

   

</div>

