.client-grid-container{
    display: flex;
   
  }
  .client-align-container{
      position: relative;
      margin: 0 auto;
      width: 1200px;
      padding-left: 100px;
    }   
    @media (max-height: 850px) and (max-width: 1350px) {
      .client-align-container{
        width: 700px;
      }
    }
  .client-button-modal{
    float: right;
    margin-top: 540px;
    margin-bottom: 20px;
  }
  .btn-group-sm .btn-fab{
    position: fixed !important;
    right: 29px;
  }
  .btn-group .btn-fab{
    position: fixed !important;
    right: 20px;
    bottom: 20px;
  }
mat-card {
    margin-top: 2%;
    padding: 0%;
}
.botonborrador{
    float: left;
}
mat-card-header{
    padding: 2%;
   
       -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3),0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.ps1{
    position: fixed;
    top: 45%;
    right: 0%;
    border-radius: 50%;
    background-color: #558300;
    color: white;
}
.ps2{
    position: fixed;
    top: 52%;
    right: 0%;
    border-radius: 50%;
    background-color: #558300;
    color: white;
}