<div class="container"  >
 
     <br/>
    <app-home-table></app-home-table>
    
    <button class="ps1" mat-button color="primary" title="Subir Factura" (click)="basicModal.show()"> <i class="fas fa-folder-plus"></i></button>
     <button class="ps2" mat-button color="primary" title="Factura Manual" (click)="basicModal2.show()"><i class="fas fa-align-justify"></i> </button>

</div>
<div mdbModal #basicModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="false" [config]='{backdrop: false, ignoreBackdropClick: true}'>
  <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()" (click)="reloadComponent()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Subir Factura</h4>
          
      </div>
      <div class="modal-body">
        <app-home-form></app-home-form>
      </div>
     
    </div>
  </div>
</div>
<div mdbModal #basicModal2="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="false" [config]='{backdrop: false, ignoreBackdropClick: true}'>
  <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal2.hide()" (click)="reloadComponent()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Factura Manual</h4>
          
      </div>
      <div class="modal-body">
       <app-home-manual></app-home-manual>
      </div>
     
    </div>
  </div>
</div>
