
<mat-card class="sombra">
   <div class="col text-center">
      <h2>Perfil </h2>
  </div>
      <br/>
    <mat-divider></mat-divider>
<form [formGroup]="firstFormGroup"  novalidate>

    
    <mat-form-field  class="col-md-4">
      <label>Nombre </label>
      <input matInput formControlName="firstname" required [(ngModel)]="this.userperfil.message.firstname">

      <mat-error *ngIf="firstFormGroup.get('firstname').hasError('required')" style="color: red" >
        Este Campo es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field  class="col-md-4">
      <label>Apellido </label>
      <input matInput formControlName="lastname" required [(ngModel)]="this.userperfil.message.lastname">

      <mat-error *ngIf="firstFormGroup.get('lastname').hasError('required')" style="color: red" >
        Este Campo es requerido
      </mat-error>
    </mat-form-field> 

    <mat-form-field  class="col-md-4">
      <label>Cédula </label>
      <input matInput formControlName="identification" required [(ngModel)]="this.userperfil.message.dni">

      <mat-error *ngIf="firstFormGroup.get('identification').hasError('required')" style="color: red" >
        Este Campo es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field  class="col-md-4">
      <label>Teléfono </label>
      <input matInput formControlName="telephone" required [(ngModel)]="this.userperfil.message.phone_number">

      <mat-error *ngIf="firstFormGroup.get('telephone').hasError('required')" style="color: red" >
        Este Campo es requerido
      </mat-error>
    </mat-form-field>
    
    <mat-form-field  class="col-md-4">
      <label>Usuario </label>
      <input matInput formControlName="username" required [(ngModel)]="this.userperfil.message.username" >

      <mat-error *ngIf="firstFormGroup.get('username').hasError('required')" style="color: red" >
        Este Campo es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field  class="col-md-4">
      <label>Correo Electrónico </label>
      <input matInput formControlName="email" required [(ngModel)]="this.userperfil.message.email" >

      <mat-error *ngIf="firstFormGroup.get('email').hasError('required')" style="color: red" >
        Este Campo es requerido
      </mat-error>
      <mat-error *ngIf="firstFormGroup.get('email').hasError('email')" style="color: red" >
        Este Campo es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field  class="col-md-4">
      <label>Contraseña </label>
      <input matInput formControlName="password" required [(ngModel)]="this.userbasic.info.pass" readonly>

      <mat-error *ngIf="firstFormGroup.get('password').hasError('required')" style="color: red" >
        Este Campo es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field  class="col-md-4">
      <label>Confirmar contraseña </label>
      <input matInput formControlName="password_confirmation" required [(ngModel)]="this.userbasic.info.pass" readonly>

      <mat-error *ngIf="firstFormGroup.get('password_confirmation').hasError('required')" style="color: red" >
        Este Campo es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field  class="col-md-4">
      <label>Tipo de Cuenta </label>
      <input matInput formControlName="rol" required [(ngModel)]="this.userperfil.message.rol" readonly>

      <mat-error *ngIf="firstFormGroup.get('rol').hasError('required')" style="color: red" >
        Este Campo es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field  class="col-md-4">
      <label>Tipo de Persona </label>
      <mat-select formControlName="tipopersona" required [(ngModel)]="this.userperfil.message.type_document_id" >
        <mat-option value="1">Cédula Física</mat-option>
        <mat-option value="2">Cédula Jurídica</mat-option>
        <mat-option value="3">DIMEX</mat-option>
        <mat-option value="4">NITE</mat-option>
        <mat-option value="5">Extranjero</mat-option>
      </mat-select>
      
      <!-- <label>Tipo de Persona </label>
      <input matInput formControlName="type_person" required [(ngModel)]="this.userperfil.message.type_person" readonly>

      <mat-error *ngIf="firstFormGroup.get('type_person').hasError('required')" style="color: red" >
        Este Campo es requerido
      </mat-error> -->
    </mat-form-field>

    <mat-form-field  class="col-md-4">
      <label>Nombre del Comercio </label>
      <input matInput formControlName="trade_name" required [(ngModel)]="this.userperfil.message.name_business">

      <mat-error *ngIf="firstFormGroup.get('trade_name').hasError('required')" style="color: red" >
        Este Campo es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field  class="col-md-4">
      <label>Cédula Jurídica </label>
      <input matInput formControlName="legal_number" required [(ngModel)]="this.userperfil.message.legal_dni">

      <mat-error *ngIf="firstFormGroup.get('legal_number').hasError('required')" style="color: red" >
        Este Campo es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field  class="col-md-4">
   <label>País </label>
      <mat-select formControlName="country" required [(ngModel)]="this.userperfil.message.country" >
        <mat-option *ngFor="let ac of pais.message" [value]="ac.id" (click)="llamarProvincia()">{{ac.description}}</mat-option>
      </mat-select>
   

      <mat-error *ngIf="firstFormGroup.get('country').hasError('required')" style="color: red" >
        Este Campo es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field  class="col-md-4">
      <label>Provincia </label>
        <mat-select formControlName="province" required [(ngModel)]="this.userperfil.message.province" >
        <mat-option *ngFor="let ac of provincia.message" [value]="ac.id" (click)="llamarCanton()">{{ac.description}}</mat-option>
      </mat-select>

      <mat-error *ngIf="firstFormGroup.get('province').hasError('required')" style="color: red" >
        Este Campo es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field  class="col-md-4">
      <label>Cantón </label>
       <mat-select formControlName="canton" required [(ngModel)]="this.userperfil.message.canton" >
        <mat-option *ngFor="let ac of canton.message" [value]="ac.id" (click)="llamarDistrito()">{{ac.description}}</mat-option>
      </mat-select>

      <mat-error *ngIf="firstFormGroup.get('canton').hasError('required')" style="color: red" >
        Este Campo es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field  class="col-md-4">
      <label>Distrito </label>
      <mat-select formControlName="district" required [(ngModel)]="this.userperfil.message.district" >
        <mat-option *ngFor="let ac of distrito.message" [value]="ac.id" >{{ac.description}}</mat-option>
      </mat-select>
  

      <mat-error *ngIf="firstFormGroup.get('district').hasError('required')" style="color: red" >
        Este Campo es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field  class="col-md-8">
      <label>Dirección exacta </label>
      <input matInput formControlName="exact_direction" required [(ngModel)]="this.userperfil.message.address">

      <mat-error *ngIf="firstFormGroup.get('exact_direction').hasError('required')" style="color: red" >
        Este Campo es requerido
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit"  (click)="actualizardatos()" style=" width: 100%; text-align: center">Actualizar</button>

</form>
<br/>
<mat-divider></mat-divider>
<div class="col text-center">
  <p>Algunas actualizaciones deben ser autorizadas por un administrador</p>
<p>Bunker Developers </p>
</div>
</mat-card>   
