.boton{
    opacity: 0%;
    color: white;
    border-radius: 50%;
    size: 10%;
  }
  div {
    font: Decorativa  normal 400 16px/22px Arial, Verdana, Sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .sombra {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  }