
<div class="container">
        <div class="row justify-content-center align-items-center minh-100">
          <div class="col-xs-12 col-md-12 col-lg-12">
          <br />
           <app-perfil-form></app-perfil-form>
      
        
          </div>
      
        </div>
      </div>