.boton{
    opacity: 0%;
    color: white;
    border-radius: 50%;
    size: 10%;
  }
input[type=”file”]{
 width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;
 }
