<form [formGroup]="firstFormGroup" novalidate class="">
  <div class="row col text-center">
    <mat-form-field >
              <mat-label>Tipo de Documento</mat-label> 
                 <mat-select formControlName="documento" >
                     <mat-option  value=1 >
                       Factura electrónica
                     </mat-option>
                      <mat-option value=2 >
                        Factura de compra
                     </mat-option>
                     <mat-option value=3 >
                       Factura de venta
                     </mat-option>
                      <mat-option value=4 >
                        Factura de gasto
                     </mat-option>
                     <mat-option value=5 >
                       Nota de débito
                     </mat-option>
                      <mat-option value=6 >
                        Nota de crédito
                     </mat-option>
                 </mat-select>
     </mat-form-field>
         
      <div class="custom-file">
             <input placeholder="Nombre" type="file" accept=".xml"  class="custom-file-input" id="customFileLang" lang="es"
        (change)="subir($event)" formControlName="archivo" required >
  <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
</div>
     

    </div>  
 
  <br/>
    <br/>
  
      <button mat-raised-button color="primary" (click)="guardar()"  style=" width: 100%; text-align: center"
  >Guardar</button> 
</form>
   
