<div class="container">
<mat-card  >
    <table mdbTable *ngIf="prorrata">
  <thead class="white-text" style="background-color: #558300">
    <tr>
      <th  scope="col"> Año</th>
      
      <th  scope="col"> Tipo de Prorrata</th>
      <th  scope="col"> Prorrateado 1%</th>
      <th  scope="col"> Prorrateado 2%</th>
      <th  scope="col"> Prorrateado 4%</th>
      <th  scope="col"> Prorrateado 13%</th>
      <th  scope="col"> Con Credito Fiscal</th>
  
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol >
      <td>{{protr.message.year}}</td>
     
      <td>{{protr.message.type_prorata}}</td>
      <td>{{protr.message.proportionality_special_one_percent_prorata}}</td>
      <td>{{protr.message.proportionality_special_two_percent_prorata}}</td>
      <td>{{protr.message.proportionality_special_four_percent_prorata}} </td>
      <td>{{protr.message.proportionality_special_thirteen_percent_prorata}}</td> 
       <td> {{protr.message.proportionality_special_exempt_with_credit_prorata}}</td>
       <!--
       <td>{{protr.message.proportionality_special_full_credit_percent}}</td>
       <td>{{protr.message.proportionality_special_reduced_credit_percent }}</td>
      <td>{{protr.message.proportionality_special_exempt_without_credit_prorata}}</td>
        <td>{{protr.message.total_prorata}}</td> -->
    
  </tbody>
</table>
    <table mdbTable *ngIf="!prorrata">
  <thead class="white-text" style="background-color: #558300">
    <tr>
      <th  scope="col"> Año</th>
      
      <th  scope="col"> Tipo de Prorrata</th>
      <th  scope="col"> Prorrata</th>

     
  
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol >
      <td>{{protr.message.year}}</td>
     
      <td>{{protr.message.type_prorata}}</td>
      <td>{{protr.message.prorata_general}}</td>
   
       <!--
       <td>{{protr.message.proportionality_special_full_credit_percent}}</td>
       <td>{{protr.message.proportionality_special_reduced_credit_percent }}</td>
      <td>{{protr.message.proportionality_special_exempt_without_credit_prorata}}</td>
        <td>{{protr.message.total_prorata}}</td> -->
    
  </tbody>
</table>

</mat-card>
<div>