.boton{
    opacity: 0%;
    color: white;
    border-radius: 50%;
    size: 10%;
  }
.atrab {
    padding: 2%;}
input {
    color: black;
}
.totales{
    border: solid 1px;
}
button{
    background-color: #558300;
    color: white;
}
mat-card{
    -webkit-box-shadow: 5px 5px 8px rgb(43, 41, 41);
    -moz-box-shadow: 5px 5px 8px rgb(37, 36, 36);
}