<div class="container">
    <br/>
<mat-card class="col" style="background-color: #999;">
<form [formGroup]="firstFormGroup" novalidate class="atrab">
     <mat-card>
        <div class="col text-center">
              <h4>Período</h4>
            <mat-form-field>
                    <mat-label>Seleccionar</mat-label>
                <mat-select formControlName="periodo">
                <mat-option value=1 >
                    01 enero 2018 al 30 junio del 2019 
                </mat-option>
                    </mat-select>
            </mat-form-field></div><br/>
            <div class="col text-center">
             <h4>Opciones Prorrata</h4>
            <mat-form-field>
                    <mat-label>Seleccionar</mat-label>
                <mat-select formControlName="prorata">
                    <mat-option value=1 >
                        Prorrata General (13%)
                    </mat-option>
                      <mat-option value=2>
                        Prorrata Especial (1%, 4%, etc.)
                    </mat-option>
                </mat-select>
            </mat-form-field></div></mat-card>
</form>   </mat-card>
<br/>
<mat-card class="col" *ngIf="this.firstFormGroup.value.prorata == 1" style="background-color: #999;">
<form [formGroup]="firstFormGroup" novalidate class="atrab">
        <div class="row">
        <div class="col-md-12 " >
            <div class="col text-center" *ngIf="cardcal == false">
                    <mat-card class="example-form" >
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Prorrata" formControlName="general" min="0" step=".01" max="100">
            </mat-form-field>&nbsp;&nbsp;
            <button mat-button (click)="guardar()" >Guardar</button>&nbsp;&nbsp;
            <button mat-button  (click)="vercal()">Calcular</button>
                </mat-card>
        </div>
             <div class="col-md-12" *ngIf="cardcal == true">
                <mat-card class="example-form" >
                    
                    
                      <mat-form-field class="col-md-6 example-full-width">
                          <mat-label>Total de Ventas Gravadas</mat-label><br/>
                          <input matInput placeholder="Total de Ventas Gravadas" formControlName="gravadas" >
                      </mat-form-field>
                      <mat-form-field class="col-md-6 example-full-width">
                          <mat-label>Prorrata (Proporcionalidad)</mat-label>
                          <input matInput type="number" placeholder="Prorrata (Proporcionalidad)" formControlName="general" readonly value={{pror}}>
                      </mat-form-field>
                     <mat-form-field class="col-md-6 example-full-width">
                         <mat-label>Total de Ventas Exentas con Credito Fiscal</mat-label>
                          <input matInput type="number" placeholder="Total de Ventas Exentas con Credito Fiscal" formControlName="excentac">
                      </mat-form-field>
                   
                           <button class="col-md-6" type="number" mat-button (click)="calcular()" >Calcular</button>
                      
                      <mat-form-field class="col-md-6 ">
                          <mat-label>Total de Ventas Exentas sin Credito</mat-label>
                          <input matInput placeholder="Total de Ventas Exentas sin Credito" formControlName="excentas">
                      </mat-form-field>
                      
                           <button class="col-md-6"  mat-button (click)="guardar()" >Guardar</button>
                      
                </mat-card>
                
            </div>
            
        </div>
     
    </div>
    

</form></mat-card>
<mat-card class="col"  *ngIf="this.firstFormGroup.value.prorata == 2" style="background-color: #999;">
    <form [formGroup]="firstFormGroup" novalidate class="atrab">
       
        <div class="row" *ngIf="cardespecial == false">
       
       <mat-card>     <h6 class="col text-center">Prorrata Especial</h6>
        <div class="col-md-12" >
             <div class="row">
            <mat-form-field class="col ">
                <h6>Prorrata 1%</h6>
                <input matInput type="number" required name="price" min="0" value="0" step=".01" formControlName="oneporcentage">
            </mat-form-field>
           
            <mat-form-field class="col">
                <h6>Prorrata 2%</h6>
                <input matInput type="number" required name="price" min="0" value="0" step=".01" formControlName="twoporcentage">
            </mat-form-field>
                
            <mat-form-field class="col">
                <h6>Prorrata 4%</h6>
                <input matInput type="number" required name="price" min="0" value="0" step=".01" formControlName="fourporcentage">
            </mat-form-field >
                
            <mat-form-field class="col">
                <h6>Prorrata 13%</h6>
                <input matInput type="number" required name="price" min="0" value="0" step=".01" formControlName="treceporcentage">
            </mat-form-field >
                
            <mat-form-field class="col">
                <h6><strong>Prorrata Derecho a Credito</strong></h6>
                <input matInput type="number" required name="price" min="0" value="0" step=".01" formControlName="especial">
            </mat-form-field></div>
            <div class="col text-center">
            <button mat-button (click)="guardar()">Guardar </button>&nbsp;&nbsp;
            <button mat-button (click)="vercalespecial()">Calcular </button></div>
        </div></mat-card>
    </div>
    <div  *ngIf="cardespecial == true">
            <mat-card>     <h6 class="col text-center">Prorrata Especial</h6>
            <div class="row">
                <mat-form-field class="col text-center">
                    <h6>Ventas al 1% </h6>
                    <input matInput type="number" required  min="0" value="0" step=".01" formControlName="ventas1">
                </mat-form-field>
                <mat-form-field class="col text-center">
                        <h6>Ventas al 2%</h6>
                        <input matInput type="number" required min="0" value="0" step=".01" formControlName="ventas2">
                </mat-form-field>
                <mat-form-field class="col text-center">
                        <h6>Ventas al 4%</h6>
                        <input matInput type="number" required  min="0" value="0" step=".01" formControlName="ventas4">
                </mat-form-field>
                <mat-form-field class="col text-center">
                        <h6>Ventas al 13%</h6>
                        <input matInput type="number" required  min="0" value="0" step=".01" formControlName="ventas13">
                </mat-form-field>
            </div>
            <br/>
            <div class="row">
                <mat-form-fiel class="col text-center">
                        <h6><strong>Total de Ventas Exentas con Credito Fiscal</strong> </h6>
                        <input matInput class="totales" type="number" formControlName="excentas" required name="price" min="0" value="0" step=".01">
                </mat-form-fiel>
                <mat-form-fiel class="col text-center">
                        <h6><strong>Total de Ventas Exentas sin Credito Fiscal</strong>  </h6>
                        <input matInput class="totales" type="number" formControlName="excentac" required name="price" min="0" value="0" step=".01">
                </mat-form-fiel>
            </div>
            <br/>
            <div class="row">
                  <mat-form-field class="col ">
                <h6>Prorrata 1%</h6>
                <input matInput readonly type="number" required  min="0" value={{prorata1}} step=".01" formControlName="oneporcentage">
            </mat-form-field>
           
            <mat-form-field class="col">
                <h6>Prorrata 2%</h6>
                <input matInput readonly type="number" required  min="0" value={{prorata2}} step=".01" formControlName="twoporcentage">
            </mat-form-field>
                
            <mat-form-field class="col">
                <h6>Prorrata 4%</h6>
                <input matInput readonly type="number" required  min="0" value={{prorata3}} step=".01" formControlName="fourporcentage">
            </mat-form-field >
                
            <mat-form-field class="col">
                <h6>Prorrata 13%</h6>
                <input matInput readonly type="number" required min="0" value={{prorata4}} step=".01" formControlName="treceporcentage">
            </mat-form-field >
                
            <mat-form-field class="col">
                <h6><strong>Prorrata Derecho a Credito</strong></h6>
                <input matInput readonly type="number" required  min="0" value={{ventaCredito}} step=".01" formControlName="especial">
            </mat-form-field>
            </div>
            <div class="col text-center">
                    <button mat-button (click)="calcularSpecial()">Calcular</button>&nbsp;&nbsp;
                    <button mat-button (click)="guardar()">Guardar</button>
            </div></mat-card>
    </div>
    

</form>
</mat-card>
</div>
   
