<mat-card *ngIf="contenido == true" >
    <mat-card-header>
          
    </mat-card-header>
    <mat-card-content>
          <form [formGroup]="fechaGroup" class="col text-center">         
        <br />
        <h3><strong>Borrador a realizar</strong> </h3>
        <br />
        <br />
        <h6>Seleccione la declaración y el período para el cual desea generar el borrador </h6>
           <br />
        <br />
        <mat-form-field>
            <mat-label>Tramite</mat-label>
            <mat-select formControlName="documento" [(ngModel)]="tramite">
            <mat-option *ngFor="let food of foods" [value]="food.value" >
            {{food.viewValue}}
            </mat-option>
            </mat-select>
        </mat-form-field> &nbsp;&nbsp;&nbsp;&nbsp;
      <mat-form-field *ngIf="this.fechaGroup.value.documento == '1'">
        <input matInput [matDatepicker]="dp" placeholder="Month and Year" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp
                        startView="multi-year"
                        (yearSelected)="chosenYearHandler($event)"
                        (monthSelected)="chosenMonthHandler($event, dp)"
                        panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
      <mat-form-field *ngIf="this.fechaGroup.value.documento == '2'">
              <mat-label>Periodo</mat-label> 
                 <mat-select formControlName="tipo">
                     <mat-option value="2" >
                        Natural (ene - dic)
                     </mat-option>
                      <mat-option value="3" >
                        Fiscal (act - set)
                     </mat-option>
                 </mat-select>
              </mat-form-field>
               <mat-form-field *ngIf="this.fechaGroup.value.documento == '3'">
              <mat-label>Periodo</mat-label> 
                 <mat-select formControlName="tipo">
                      <mat-option value="1" >
                        Fiscal (act - set)
                     </mat-option>
                 </mat-select>
              </mat-form-field>
               &nbsp;&nbsp;&nbsp;&nbsp;
         <mat-form-field *ngIf="this.fechaGroup.value.documento == '2' || this.fechaGroup.value.documento == '3' ">
              <mat-label>Año</mat-label> 
                 <mat-select formControlName="tiempo">
                     <mat-option value="2019" >
                        2019
                     </mat-option>
                      <mat-option value="2020" >
                        2020
                     </mat-option>
                 </mat-select>
              </mat-form-field>
              <br/>
             <button class="btncomenzar"  (click)=" generarBorradorDPF()" type="button"  mat-button>Generar Borrador</button> 

        </form>
       
        <br/>
        <div class="footer">
             <h6> Bunker Developers</h6>
        </div>
    </mat-card-content>

</mat-card >
<mat-card  *ngIf="contenido == false" >
     <mat-card-header>
          
    </mat-card-header>
    <mat-card class="col text-center">

      <p class="container">Por Favor Verifique la información generada en el archivo PDF, de ser correcta confirmar el archivo para que sea almacenado, si necesita hacer correcciones elija la opción "Volver" para que este no sea guardado.</p>
      
      <form >
            <div class="example-container">
            <mat-form-field>
             <button mat-button class="secundario" (click)="confirmar('no')">Volver</button>
            </mat-form-field>
          
            <mat-form-field>
              <button mat-button class="primario" (click)="confirmar('yes')">Confirmar</button>
            </mat-form-field>
          </div>

      </form>
    </mat-card>


</mat-card>