
<mat-card>
   <div class="col text-center">
      <h2>Configuracion</h2>
  </div>
      <br/>
    <mat-divider></mat-divider>
<form [formGroup]="firstFormGroup" novalidate>

      <mat-form-field  class="col-md-6">
           <label>Porcentaje de Compra</label>
   
         <mat-select formControlName="firstname" required [(ngModel)]="userperfil.message.iva_sale">
            <mat-option value="13%">
            13%
           </mat-option>
           <mat-option value="4%">
            4%
           </mat-option>
           <mat-option value="2%">
            2%
           </mat-option>
           <mat-option value="1%">
            1%
           </mat-option>
  </mat-select>
      </mat-form-field>

      <mat-form-field  class="col-md-6">
        <label>Cambio del dólar </label>
        <input matInput formControlName="cuenta" required [(ngModel)]="userperfil.message.dolar_value" >

      </mat-form-field>
      <button mat-raised-button color="primary" type="submit"  (click)="actualizardatos()" style=" width: 100%; text-align: center"
  >Actualizar</button> 
</form>
<br/>
<mat-divider></mat-divider>
<div class="col text-center">
  <p>Algunas actualizaciones deben ser autorizadas por un administrador</p>
<p>Bunker Developers </p>
</div>
</mat-card>   
