<h5 class="text-center">  <i class="fas fa-exclamation-triangle"></i> ¿Está seguro de eliminar el registro seleccionado?</h5>
<mat-dialog-content class="mat-typography">
  <h2 class="text-center">Dispositivo: {{name}}</h2>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-raised-button  color="accent" class="color-text"  mat-dialog-close>Cancelar</button>
  <button mat-button mat-raised-button  color="primary" [mat-dialog-close]="true" color="primary" (click)="deleteRow(id)">Confirmar</button>
</mat-dialog-actions>
