<form *ngIf="verproductos == false" [formGroup]="firstFormGroup" novalidate style="padding: 5%;">
  <div class="row col text-center">
    
      <div class="col-md-12">
               <h6> Subir Factura</h6>     
          <mat-form-field >
            <mat-label>Tipo de Factura</mat-label>
            <mat-select formControlName="documento" required >
                 <mat-option  value=3 >
                          Factura de Venta
                        </mat-option>
                 </mat-select>
          </mat-form-field>
       
         
      <div class="custom-file">
             <input placeholder="Nombre" type="file" accept=".xml"  class="custom-file-input" id="customFileLang" lang="es"
        (change)="subir($event)" formControlName="archivo" required >
            <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
    </div>
      </div>

    </div>  
 
  <br/>
    <br/>
  
      <button mat-raised-button color="primary" (click)="guardar()"  style=" width: 100%; text-align: center"
  >Guardar</button> 
</form>
<!--
<div class="respuesta" *ngIf="verproductos == true"> 


  <form [formGroup]="secondFormGroup">
    <h6> Confirma el IVA de Venta </h6>
     <div class="row" >
          <div class="col-md-4"><label>Producto</label></div>
          <div class="col-md-4"> <label>Iva de Compra</label></div>
            <div class="col-md-4"> <label>Iva Venta</label></div>
      </div>

      <div class="row" *ngFor="let ac of respuesta.message">
          <div class="col-md-4"><label>{{ac.name}}</label></div>
          <div class="col-md-4"> {{ac.iva_purchase  }}</div>
             <mat-form-field class="col-md-4">
         <mat-select formControlName="porcentajeV" > 
            <mat-option *ngFor="let food of ventporsale.message" [value]="food.percentage" (click)="confirmariv()">
       {{food.percentage}}
    </mat-option>
  </mat-select>
      </mat-form-field>
      </div>

  </form>

  <button (click)="guardar()">Cerrar</button>
</div>-->