
<div class="container-fluid">
    <div class="row justify-content-center align-items-center minh-100">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <mat-card>
            <div class="col text-center">
               <h2>Login</h2>
           </div>
               <br/>
             <mat-divider></mat-divider>
         <form [formGroup]="firstFormGroup"  novalidate>
         
             
             <mat-form-field  class="col-md-12">
                 <input matInput placeholder="Nombre de Usuario" formControlName="name" required >
         
                 <mat-error *ngIf="firstFormGroup.get('name').hasError('required')" style="color: red" >
                   Este Campo es requerido
                 </mat-error>
               </mat-form-field> 
               <mat-form-field class="col-md-12">
                   <input matInput type="password" placeholder="Contraseña" formControlName="pass" required >
         
                 <mat-error *ngIf="firstFormGroup.get('pass').hasError('required')" style="color: red" >
                   Este Campo es requerido
                 </mat-error>
               </mat-form-field>
                
          
             
               <button mat-raised-button color="primary"   (click)="entrar()" style=" width: 100%; text-align: center"
           >Entrar</button> 
         </form>
         <br/>
         <mat-divider></mat-divider>
         <div class="col text-center">
             <a mat-list-item [routerLink]="['/registro']">
              Registro
            </a>
             <p>Bunker Devolpers</p>
             <!--
         <p>ó Registro con Redes Sociales </p>
         <a href="#">
         <i class="fab fa-facebook fa-3x" style="color: blue;"></i></a>
         &nbsp;&nbsp;
         <a href="#">
         <i class="fab fa-google-plus-square fa-3x" style="color: red;"></i></a>-->
            </div>
         </mat-card>            
      </div>  
    </div>
  </div>

