
<mat-card>
   <div class="col text-center">
      <h2>Registro</h2>
  </div>
    
    <mat-divider></mat-divider>
<form [formGroup]="firstFormGroup"S novalidate>

    
    <mat-form-field  class="col-md-12">
        <input matInput placeholder="Nombre" formControlName="firstname" required >

        <mat-error *ngIf="firstFormGroup.get('firstname').hasError('required')" style="color: red" >
          Este Campo es requerido
        </mat-error>
      </mat-form-field> 
        
    <mat-form-field  class="col-md-12">
        <input matInput placeholder="Apellido" formControlName="lastname" required >

        <mat-error *ngIf="firstFormGroup.get('lastname').hasError('required')" style="color: red" >
          Este Campo es requerido
        </mat-error>
      </mat-form-field> 
        
    <mat-form-field  class="col-md-12">
        <input matInput type="email" placeholder="Email" formControlName="email" required >

        <mat-error *ngIf="firstFormGroup.get('email').hasError('required')" style="color: red" >
          Este Campo es requerido
        </mat-error>
           <mat-error *ngIf="firstFormGroup.get('email').hasError('email')" style="color: red" >
          No es un correo electronico
        </mat-error>
      </mat-form-field> 
        <mat-form-field  class="col-md-12">
        <input matInput placeholder="Usuario" formControlName="username" required >

        <mat-error *ngIf="firstFormGroup.get('username').hasError('required')" style="color: red" >
          Este Campo es requerido
        </mat-error>
      </mat-form-field> 
      <mat-form-field class="col-md-12">
          <input matInput type="password" placeholder="Contraseña" formControlName="password" required >

        <mat-error *ngIf="firstFormGroup.get('password').hasError('required')" style="color: red" >
          Este Campo es requerido
        </mat-error>
      </mat-form-field>
      <mat-form-field  class="col-md-12">
          <input matInput type="password" placeholder="Repetir Contraseña" formControlName="password_confirmation" required >
  
          <mat-error *ngIf="firstFormGroup.get('password_confirmation').hasError('required')" style="color: red" >
            Este Campo es requerido
          </mat-error>
           <mat-error *ngIf="firstFormGroup.get('password_confirmation').hasError('mustMatch')" style="color: red" >
            Contraseñas no coinciden
          </mat-error>
          
        </mat-form-field> 
 
    <br/>
      <button mat-raised-button color="primary" type="submit"  style=" width: 100%; text-align: center" (click)="enviar()"
  >Entrar</button> 
        <button mat-raised-button color="accent" type="submit"  style=" width: 100%; text-align: center; margin-top: 2%;" (click)="atras()"
  >Atrás</button> 
</form>
<br/><!--
<mat-divider></mat-divider>
<div class="col text-center">
  <p>Bunker Developers</p>
  
<p>Registro con Redes Sociales </p>
<a href="#">
<i class="fab fa-facebook fa-3x" style="color: blue;"></i></a>
&nbsp;&nbsp;
<a href="#">
<i class="fab fa-google-plus-square fa-3x" style="color: red;"></i></a>
</div>-->
</mat-card>   
