
<mat-card>
   <div class="col text-center">
      <h2>Resumen</h2>
  </div>
      <br/>
    <mat-divider></mat-divider>
<form [formGroup]="firstFormGroup"  novalidate *ngIf="prorrata == false" >

    
  
        <mat-form-field  class="col-md-6">
           <label>Período</label>
        
  <input matInput [matDatepicker]="dp"  [formControl]="date">
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="multi-year"
                  (yearSelected)="chosenYearHandler($event)"
                  (monthSelected)="chosenMonthHandler($event, dp)"
                  panelClass="example-month-picker">
  </mat-datepicker>




      </mat-form-field>  
    
       <button  mat-button class="col-md-6" (click)="actualizardatos()">Generar Resumen</button>

 
    <mat-form-field  class="col-md-6">
        <label>IVA Devengado</label>
        <input matInput formControlName="username"  readonly [(ngModel)]="respuesta.data.received_iva">

      </mat-form-field> 
      <mat-form-field  class="col-md-6">
        <label>IVA Deducible</label>
        <input matInput formControlName="password" readonly  [(ngModel)]="respuesta.data.paid_out_iva">

      </mat-form-field> 
    <mat-form-field  class="col-md-6">
        <label>IVA al gasto</label>
        <input matInput formControlName="email" readonly  [(ngModel)]="respuesta.data.expenses">
      </mat-form-field> 
          <mat-form-field  class="col-md-6">
        <label>IVA a pagar</label>
        <input matInput formControlName="cuenta" required readonly [(ngModel)]="respuesta.data.iva_to_pay">

      </mat-form-field>

</form>
<form [formGroup]="firstFormGroup"  novalidate *ngIf="prorrata == true" >

    
  
        <mat-form-field  class="col-md-6">
           <label>Período</label>
        
  <input matInput [matDatepicker]="dp"  [formControl]="date">
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="multi-year"
                  (yearSelected)="chosenYearHandler($event)"
                  (monthSelected)="chosenMonthHandler($event, dp)"
                  panelClass="example-month-picker">
  </mat-datepicker>
      </mat-form-field>  
   
       <button  mat-button class="col-md-6" (click)="actualizardatos()">Generar Resumen</button>
    <mat-form-field  class="col-md-6">
        <label>IVA Devengado</label>
        <input matInput formControlName="username"  readonly [(ngModel)]="respuesta.data.received_iva">

      </mat-form-field> 
      <mat-form-field  class="col-md-6">
        <label>IVA Soportado</label>
        <input matInput formControlName="password" readonly 
        [(ngModel)]="respuesta.data.paid_out_iva">

      </mat-form-field> 
    <mat-form-field  class="col-md-6">
        <label>IVA DEDUCIBLE IDENTIFICADO 13% </label>
        <input matInput formControlName="a" readonly [(ngModel)]="respuesta.data.thirteen_percent_visible">
      </mat-form-field> 
          <mat-form-field  class="col-md-6">
        <label>IVA DEDUCIBLE IDENTIFICADO 2% </label>
        <input matInput formControlName="b" required readonly [(ngModel)]="respuesta.data.two_percent_visible">

      </mat-form-field>
          <mat-form-field  class="col-md-6">
        <label>IVA DEDUCIBLE IDENTIFICADO 1% </label>
        <input matInput formControlName="c" required readonly [(ngModel)]="respuesta.data.one_percent_visible">

      </mat-form-field> 
          <mat-form-field  class="col-md-6">
        <label>IVA DEDUCIBLE PRORRATEADO 13% </label>
        <input matInput formControlName="d" required readonly [(ngModel)]="respuesta.data.one_percent_visible">

      </mat-form-field>
     <mat-form-field  class="col-md-6">
        <label>IVA DEDUCIBLE PRORRATEADO 2%</label>
        <input matInput formControlName="m" readonly [(ngModel)]="respuesta.data.two_percent_visible">
      </mat-form-field> 
          <mat-form-field formControlName="n"  class="col-md-6">
        <label>IVA DEDUCIBLE PRORRATEADO VENTAS CON DERECHO </label>
        <input matInput formControlName="p" required readonly [(ngModel)]="respuesta.data.exempt_with_credit_prorata">

      </mat-form-field>
          <mat-form-field  class="col-md-6">
        <label>IVA DEDUCIBLE PRORRATEADO 1% </label>
        <input matInput formControlName="o" required readonly [(ngModel)]="respuesta.data.one_percent_prorata">
        </mat-form-field>

         <mat-form-field  class="col-md-6">
        <label>IVA AL GASTO O COSTO</label>
        <input matInput formControlName="q" required readonly [(ngModel)]="respuesta.data.expenses">

      </mat-form-field>
    
        <mat-form-field  class="col-md-6">
        <label>IVA A PAGAR </label>
        <input matInput formControlName="w" required [(ngModel)]="respuesta.data.iva_to_pay" readonly>

      </mat-form-field>    
 

 

</form>
<br/>
<mat-divider></mat-divider>
<div class="col text-center">
  <p>Algunas actualizaciones deben ser autorizadas por un administrador</p>
<p>Bunker Developers </p>
</div>
</mat-card>   
