

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">


    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><i class="fas fa-bars"></i></button>
      <h1 class="example-app-name">Menú</h1>
      <span class="example-fill-remaining-space"></span>

         <div class="text-right" style="margin-right: 10%;">
          <div  class ="dropdown text-right" mdbDropdown>
           <button mdbDropdownToggle type="button" mat-button>Cuenta</button>
           <div class="dropdown-menu mat-toolbar mat-primary">

             <div class="row">
              <div class="col" style="margin-left: 5%;">
               <a mat-list-item [routerLink]="['/config']">Configuracion</a></div>

             </div>
             <div class="row">
              <div class="col" style="margin-left: 5%;">
             <a mat-list-item [routerLink]="['/perfil']">Perfil</a>  </div>
             </div>
             <div class="row">
              <div class="col" style="margin-left: 5%;">
              <a mat-list-item  href="#" (click)="salir()">Salir</a></div>

              
             </div>
          </div>
        </div>
       </div> 
       
       
 
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav class="fondo" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <div class="menu-header-title">
            <img src="../../../assets/img/miniLogo.png" id="menu-logo" alt="" width="100%">
          </div>
          <a mat-list-item class="letra" [routerLink]="['/home']">Inicio</a>
          <a mat-list-item class="letra" [routerLink]="['/propor']">Proporcionalidad</a>
              <mat-list>
                  <mat-accordion>
                    <mat-expansion-panel class="fondo">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <span class="nav__element__size letra" >Facturas</span>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <mat-nav-list>
                        <mat-list>
                          <a mat-list-item class="letra" [routerLink]="['/fcompras']">Facturas de Compras</a>
                          <a mat-list-item class="letra" [routerLink]="['/fventas']">Facturas de Ventas</a>
                        </mat-list>
                      </mat-nav-list>
                    </mat-expansion-panel>
                  </mat-accordion>
                  <mat-divider></mat-divider>
                </mat-list> 
          <a mat-list-item class="letra" [routerLink]="['/resumen']">Resumen</a>
          <a mat-list-item class="letra" [routerLink]="['/cierres']">Cierres</a>
              <mat-list>
                  <mat-accordion>
                    <mat-expansion-panel class="fondo">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <span class="nav__element__size letra" >Borradores</span>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <mat-nav-list>
                        <mat-list>
                          <a mat-list-item class="letra" [routerLink]="['/gborradores']">Generar Borrador</a>
                          <a mat-list-item class="letra" [routerLink]="['/borradores']">Ver Borradores</a>
                        </mat-list>
                      </mat-nav-list>
                    </mat-expansion-panel>
                  </mat-accordion>
                  <mat-divider></mat-divider>
              </mat-list>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  
<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>


<!-- --------------------------------------------------------------------- -->



<!-- <mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async)"
                >

    <mat-nav-list>
         
      <div class="menu-header-title">
        <div mat-card-avatar class="user-avatar"> </div>&nbsp;
        <img src="../../../assets/img/logo.jpeg" id="menu-logo" alt="" width="100%">
      </div>
  
        <mat-list>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <i class="fas fa-list"></i>&nbsp;
                  <span class="nav__element__size" style="padding-left: 8px">{{name}}</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-nav-list>
                <mat-list>
                  <a class="dropdown-item perfil-action-buttom" [routerLink]="['/perfil']" >Perfil</a>
                  <a class="dropdown-item perfil-action-buttom" [routerLink]="['/home']" (click)="salir()">Salir</a>
                </mat-list>
              </mat-nav-list>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-divider></mat-divider>
        </mat-list> 

        <mat-list>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <i class="fas fa-list"></i>&nbsp;
                  <span class="nav__element__size" style="padding-left: 8px">Catalogo</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-nav-list>
                <mat-list>
                  <a mat-list-item [routerLink]="['/home']">
                    <i class="fas fa-user-tie"></i>&nbsp; home
                  </a>
                </mat-list>
              </mat-nav-list>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-divider></mat-divider>
        </mat-list>
    </mat-nav-list>
  </mat-sidenav> -->



    <!-- -------------------------------------- -->


     <!-- <mat-sidenav-content>

    <mat-toolbar color="primary">
      <mat-toolbar-row class="col text-center">
        <span class="col"> <a [routerLink]="['/home']">Inicio</a></span> 
        <span class="col"> <a [routerLink]="['/propor']">Proporcionalidad</a></span>
        <span class="col"> 
            <div >
              <div  class ="dropdown" mdbDropdown>
                <button  mdbDropdownToggle type="button"  mat-button>Facturas</button>
                <div class="dropdown-menu mat-toolbar mat-primary">
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <a class="dropdown-item perfil-action-buttom" [routerLink]="['/fcompras']">Facturas de Compras</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <a class="dropdown-item perfil-action-buttom"  [routerLink]="['/fventas']">Facturas de Ventas</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </span>
        <span class="col"> <a [routerLink]="['/resumen']">Resumen</a></span>
        <span class="col"> <a [routerLink]="['/cierres']">Cierres</a></span>
        <span class="col"> 
            <div >
              <div  class ="dropdown" mdbDropdown>
                <button  mdbDropdownToggle type="button"  mat-button>Borradores</button>
                <div class="dropdown-menu mat-toolbar mat-primary"> 
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <a class="dropdown-item perfil-action-buttom" [routerLink]="['/gborradores']">Generar Borrador</a>
                    </div></div>
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                       <a class="dropdown-item perfil-action-buttom" [routerLink]="['/borradores']">Ver Borradores</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </span>

        <span class="col"> 
          <div >
            <div  class ="dropdown" mdbDropdown>
              <button  mdbDropdownToggle type="button"  mat-button>Cuenta</button>
              <div class="dropdown-menu mat-toolbar mat-primary">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <a class="dropdown-item perfil-action-buttom" [routerLink]="['/config']">Configuracion</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <a class="dropdown-item perfil-action-buttom"[routerLink]="['/perfil']">Perfil</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <a class="dropdown-item perfil-action-buttom" href="#" (click)="salir()">Salir</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </span>

      </mat-toolbar-row>
  </mat-toolbar>
 
      <router-outlet></router-outlet>

    </mat-sidenav-content> 
  </mat-sidenav-container> -->