.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-expansion-panel-header {
  padding: 0 30px 0 15px;
  font-weight: 300;
}

.mat-list-base {
  padding-top: 0;
}

.fondo {
  background: #4A6453;
}

.letra {
  color: #fff;
}

.mat-list-item {
  color: #fff;
}





// .zippy__toolbar__icon {
//     margin-right:100px;

//   }
//   .zippy__spacer {
//     flex: 1 1 auto;
//   }

//   .mat-sidenav-layout{
//     height: 100%;
//     background-color:#EEEEEE;
//   }


//   .zippy--router-outlet{
//     position:relative;
//     width:100%;
//     padding-right:10px;
//     margin-top:20px;
//     margin-bottom:40px;
//     margin-left:10px;
//     margin-right:20px !important;
//     height:100%;
//     display: block;
//     overflow: auto;
//     min-height: calc(100vh - 70px);
//     background-color:#EEEEEE;
//   }

//   .sidenav-container {
//     height: 100%;
//      // margin-top:60px;
//     background-color:#EEEEEE;

//   }

//   @media only screen and (max-width: 640px) {
//     .sidenav {
//         z-index: 999 !important;
//     }
//   }
//   @media only screen
//     and (min-device-width: 768px)
//     and (max-device-width: 1024px)
//     and (-webkit-min-device-pixel-ratio: 1) {
//       .sidenav {
//         z-index: -999 !important;
//     }

//   }
//   @media only screen
//     and (min-device-width: 1024px)
//     and (max-device-width: 1366px)
//     and (-webkit-min-device-pixel-ratio: 2) {
//       .sidenav {
//         z-index: -999 !important;
//     }
//   }
//   @media screen
//     and (min-device-width: 1200px)
//     and (max-device-width: 3600px)
//     and (-webkit-min-device-pixel-ratio: 1) {
//       .sidenav {
//         z-index: -999 !important;
//     }
//   }
//   .sidenav {
//     width: 200px;
//     //border-right : 1px solid #000000;
//     // box-shadow: 0px 0px 10px black;
//    //  position:fixed;
//     min-height: 100%;
//     // padding-top:55px;
//     min-width:30px !important;
//     z-index: 9;

//   }
//   .mat-list, .mat-nav-list, .mat-selection-list {
//     padding-top: 0 !important;
//     display: block;
//   }

//   .mat-toolbar.mat-primary {
//     // position: fixed;
//    top: 0;
//    z-index: 9;
//    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.24);
//    border-bottom:1px solid rgb(59, 57, 57);
//   }

//   .user__profile {
//      font-family: 'Roboto',
//      sans-serif;
//      font-size:12px !important;

//   }
//   .list .mat-list {
//     padding-top: 0;
//     /* .mat-list also has an additional padding top  */
//   }

//   .list .mat-list .mat-list-item {
//     height: auto !important;
//     /* To avoid calculated height from mat-line-x classes */
//    }

//   .zippy__pointer {
//     cursor: pointer;
//   }

//   .zippy__user__name{
//     padding-top:7px;
//     font-family: 'Roboto',
//     sans-serif;
//     font-size:12px !important;

//   }

//   .mat-list .mat-list-item {
//     height: 30px !important;
//     /* default is 72px */
//   }

//   .left-navbar{
//     position: fixed;
//     z-index: 99999999;
//     min-height: 100%;
//     padding: 10px;
//    }

//   .panel-close{
//     padding-top:10px;
//     padding-left:10px;
//   }
//   .z-index {
//     z-index: 99999 !important;
//   }
//   .noz-index {
//     z-index: -99999 !important;
//   }
//   .logoimg {
//     max-width: 100px;
//     max-height: 50px;
//   }

//   #menu-logo{
//     height: 55px;
//   }

//   .sidenav {
//     background: #1B1F0D}

//   .mat-expansion-panel{
//     background: #1B1F0D}

//   .mat-expansion-panel-header-title {
//     color:#ffffff;
//     font-size: 12px;
//   }

//   .mat-list .mat-list-item {
//     font-size: 12px;
//     color:#000000;
//   }

//   .mat-list, .mat-nav-list, .mat-selection-list {
//     background-color: #ccc;
//   }

//   .menu-user-align {
//     float: right;
//   }

//   .menu-header-title{
//     text-align: center;
//    // background-color: #333;
   
// background: #1B1F0D;
//   }

// .menu-content {
//   width: 210px !important;
//   height: 69px !important;
//   overflow-x: hidden !important;
// }

// .mat-menu-content {
//   overflow-x: hidden !important;
// }

// a.dropdown-item {
//   color: #ffff;
//   font-size: 15px;
// }

// a.dropdown-item.perfil-action-buttom:hover {
//   background-color: #4B897D;
// }
// a{
//   font-size: medium;
//   color: white;
//       margin-left: 2%;
// }
// button{
//   font-size: medium;
//   color: white;
// }
// span{
//   margin-left: 1%;
  
// }