<mat-horizontal-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Datos Generales</ng-template>
      <div class="row">
         <mat-form-field class="col-md-4">
            <input matInput placeholder="Actividad Económica" formControlName="actividad" required>
        </mat-form-field>
           <mat-form-field class="col-md-4">
          <mat-label>Tipo de Factura</mat-label>
         <mat-select formControlName="tfac" required >
              <mat-option  value=1 >
                       Factura electrónica
                     </mat-option>
                      <mat-option value=2 >
                        Factura de compra
                     </mat-option>
                 
                      <mat-option value=4 >
                        Factura de gasto
                     </mat-option>
  </mat-select>
      </mat-form-field>
         <mat-form-field class="col-md-4">
            <input matInput placeholder="Tipo de Cambio" formControlName="cambio" [(ngModel)]="this.config.message.dolar_value" required>
        </mat-form-field>
      </div>
     
        <h6>Datos del Proveedor</h6><br/>
         <div class="row">
      <mat-form-field class="col-md-4">
        <input matInput  placeholder="Nombre del Proveedor" formControlName="proveedor" required>
      </mat-form-field>
          <mat-form-field class="col-md-4">
          <mat-label>Tipo de Documento</mat-label>
         <mat-select formControlName="tdoc" required >
         
            
            <mat-option value=1 >
                Física
            </mat-option>
           
            <mat-option value=2 >
               Jurídica
            </mat-option>
            <mat-option value=3 >
             DIMEX
            </mat-option>
            <mat-option value=4 >
              NITE
            </mat-option>
             <mat-option value= 5>
              Extranjero
             </mat-option>
  </mat-select>
      </mat-form-field>
        <mat-form-field class="col-md-4">
        <input matInput placeholder="Documento de Identificación" formControlName="cedula" required>
      </mat-form-field></div>
      <h6>Datos de la Factura</h6><br/>
      <div class="row">
           <mat-form-field class="col-md-6">
        <input matInput placeholder="Número de Factura" formControlName="nfactura" (keypress)="onlyNumberKey($event)" required type="number">
      </mat-form-field>
     
           <mat-form-field class="col-md-6">
        <input matInput id="date" type="date" placeholder="" formControlName="fecha1" required>
      </mat-form-field>
      <!--
           <mat-form-field class="col-md-4">
        <input matInput id="date" type="date" formControlName="fecha2" placeholder="Fecha de Ingreso"required>
      </mat-form-field>-->
      </div>
      <div class="buttons">
        <button mat-button matStepperNext class="primario">Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Cargar Productos</ng-template>
      <div class="row">
          <div class="col-md-9">
           <mat-form-field class="col-md-3">
        <input matInput placeholder="Nombre del Producto" formControlName="nombre"  required>
      </mat-form-field>
           <mat-form-field class="col-md-3">
          <mat-label>Porcentaje de Compra</mat-label>
         <mat-select formControlName="porcentajeC" required [(ngModel)]="compor">
            <mat-option *ngFor="let food of ivatipos.message" [value]="food.percentage">
       {{food.percentage}}
    </mat-option>
  </mat-select>
      </mat-form-field>
      
           <mat-form-field class="col-md-3">
             <mat-label>Porcentaje de Venta</mat-label>
         <mat-select formControlName="porcentajeV" required [(ngModel)]="ventpor"> 
            <mat-option *ngFor="let food of ventporsale.message" [value]="food.percentage">
       {{food.percentage}}
    </mat-option>
  </mat-select>
      </mat-form-field>
           <mat-form-field class="col-md-3">
        <input matInput placeholder="Exonerado" formControlName="excento" (keypress)="onlyDecimalNumberKey($event)" type="number" step="any" required>
      </mat-form-field>
           <mat-form-field class="col-md-3">
        <input matInput placeholder="Cantidad" formControlName="cantidad" (keypress)="onlyDecimalNumberKey($event)" type="number" step="any" required>
      </mat-form-field>
           <mat-form-field class="col-md-3">
        <input matInput placeholder="Impuesto" formControlName="bi" (keypress)="onlyDecimalNumberKey($event)" type="number" step="any"  required>
      </mat-form-field>
        <mat-form-field class="col-md-3">
        <input matInput placeholder="Bse Imponible" formControlName="pvp" (keypress)="onlyDecimalNumberKey($event)" type="number" step="any" required>
      </mat-form-field>
           <mat-form-field class="col-md-3">
        <input matInput placeholder="Total" formControlName="total" (keypress)="onlyDecimalNumberKey($event)"  type="number" step="any" required
[(ngModel)]="(this.secondFormGroup.value.pvp + (this.secondFormGroup.value.bi - (this.secondFormGroup.value.bi*(this.secondFormGroup.value.excento/100))) )*this.secondFormGroup.value.cantidad"
        >
      </mat-form-field>

          </div>
          <div class="col-md-3">
            <button mat-button class="btn btn-agregar" (click)="agregarProducto()">Agregar</button>
          </div>
      </div>
        <div class="row table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-dark table-striped mb-0">
      <thead>
         <tr>
             
             <th scope="col">Nombre</th>
             <th scope="col">% de Compra</th>
             <th scope="col">% de Venta</th>
             <th scope="col">Exonerado</th>
             <th scope="col">Cantidad</th>
             <th scope="col">Base Imponible</th>
             <th scope="col">Total</th>
             <th scope="col"><th>
        </tr>
      </thead>
      <tbody>
             <tr *ngFor="let ac of cargaProducto">
               <td>{{ac.name}}</td>
               <td>{{ac.iva_purchase }}</td>
               <td>{{ac.iva_sale}}</td>
                <td>{{ac.percent_of_exoneration}}</td>
               <td>{{ac.quantity}}</td>
               <td>{{ac.tax_base}}</td>
               <td>{{ac.total}}</td>
               <td><button mat-button (click)="eliminarProducto(ac.id)"><i class="fas fa-trash-alt"></i></button> </td>
             </tr>
       </tbody>
      </table>
        </div>

      <div class="buttons">
        <button mat-button class="secundario separation" matStepperPrevious>Atras</button>
        <button mat-button matStepperNext class="primario separation" (click)="guardar()">Guardar</button>
      </div>
    </form>
  </mat-step>
        
</mat-horizontal-stepper>
