.boton{
    opacity: 0%;
    color: white;
    border-radius: 50%;
    size: 10%;
  }
input[type=”file”]{
 width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;
 }
 .btn-agregar {

 		width: 100%;
 		height: 90%;
 		background-color: #598000;
 }
 .primario {
  background-color: #598000;
  color: #fff;
 }
 .secundario {
  background-color: #333;
  color: #fff;
 }
.table-dark{
    background-color: #D4D4D4;
    color: black;
    border-color: #D4D4D4; 
}

.my-custom-scrollbar {
position: relative;
height: 42vh;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}

.buttons {
  display: flex;
  justify-content: center;
}

.separation {
  margin: 5px;
}