/* You can add global styles to this file, and also import other style files */

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
$mat-colors: (
  50: #E5EAE3,
  100: #BECAB8,
  200: #93A789,
  300: #68835A,
  400: #476936,
  500: #558300, // primary-color
  600: #234711,
  700: #1D3D0E,
  800: #17350B,
  900: #0E2506,
  A100: #68835A,
  A200: #333,// accent color
  A400: #93a789,
  A700: #00bfa5,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Base2-primary: mat-palette($mat-colors);
$Base2-accent: mat-palette($mat-colors, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Base2-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$Base2-theme: mat-light-theme($Base2-primary, $Base2-accent, $Base2-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Base2-theme);

// fontawesome
@import '~bootstrap/scss/bootstrap';

// fontawesome

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

// toastr
@import '~ngx-toastr/toastr-bs4-alert';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.modal-backdrop.in {
  opacity: 0 !important;
}
.modal-backdrop {
  position: relative !important;
}

.mat-accordion .mat-expansion-panel:last-of-type{
  border-bottom-right-radius:0px !important;
  border-bottom-left-radius:0px !important;
}

.mat-accordion .mat-expansion-panel:first-of-type{
  border-top-right-radius:0px !important;
  border-top-left-radius:0px !important;
}