.boton{
    opacity: 0%;
    color: white;
    border-radius: 50%;
    size: 10%;
  }
mat-card {
    margin-top: 2%;
    padding: 0%;
}
mat-card-header{
    padding: 2%;
   
       -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3),0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.footer{
    width: 100%;
    background-color: #598000;
    text-align: center;
     padding: 5%;
}
.btncomenzar{
       background-color: #598000;
    color: white;
}
.my-custom-scrollbar {
position: relative;
height: 300px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}