<div class="container">
<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
      <div class="col text-center">
          <h6>D151-Proveedores<br>
              Clasificación de documentos </h6>
          <br/>
          <h6>Clasifique los documentos registrados </h6></div>
    <form [formGroup]="firstFormGroup">
        <div class="row">
            <div class="col-md-4">
            <mat-form-field >
                <mat-label>Selecione su Operacion</mat-label>
                <mat-select formControlName="documento" [(ngModel)]="selected">
                    <mat-option  value="compras" (click)="opciontabla()">
                       Compras
                    </mat-option>
                    <mat-option  value="ventas" (click)="opciontabla()">
                       Ventas
                    </mat-option>
                </mat-select>
            </mat-form-field>
            </div>    
            <div class="col-md-4"></div>
            <div class="col-md-4"> 
                <button mat-button  (click)="basicModal.show()"> Cargar Archivo</button>
                <button mat-button>Generar Reporte</button>
            </div>
            
        </div>
    </form>
      <div class=" my-custom-scrollbar">
        
            <div *ngIf="ventas == false" class=" mb-0">
             <app-home-table [envio]="envio"></app-home-table>
         </div>
            <div *ngIf="ventas == true" class=" mb-0">
             <app-home-table [envio]="envio"></app-home-table>
         </div>
      </div>
      <div class=" col text-right">
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
   
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>

    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<div mdbModal #basicModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="false" [config]='{backdrop: false, ignoreBackdropClick: true}'>
  <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Agregar Factura</h4>
          
      </div>
      <div class="modal-body">
        <app-home-form></app-home-form>
      </div>
     
    </div>
  </div>
</div>
</div>