
    <div class="container-fluid" style="width: 100%">

   
        <mat-toolbar class="mat-elevation-z8 font-white" color="primary">
            <mat-toolbar-row class="navbar navbar-expand-sm responsive">
                <div class="col-md-3">
                  <i class="fas fa-toggle-on"></i>&nbsp; Compras
                </div>
                <div class="col-md-1"><hr class="d-sm-none"></div>
                <div class="col-md-3">
                    <mat-form-field >
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
                    </mat-form-field>
                </div>
               
                <div class="col-md-3">
        
                  <mat-form-field >
                    <input matInput [matDatepicker]="dp" placeholder="" [formControl]="date">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp
                                    startView="multi-year"
                                    (yearSelected)="chosenYearHandler($event)"
                                    (monthSelected)="chosenMonthHandler($event, dp)"
                                    panelClass="example-month-picker">
                    </mat-datepicker>
                  </mat-form-field>
        
                </div>
                <div>
                  <button mat-button (click)="loadDataTable()">filtrar</button>
                </div>
        
             
            </mat-toolbar-row>
        </mat-toolbar>
        <table mat-table
        [dataSource]="dataSource" multiTemplateDataRows
        class="mat-elevation-z8">
   <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
     <th mat-header-cell *matHeaderCellDef class="text-center"> {{column}} </th>
   
   
     <td mat-cell *matCellDef="let element"  class="text-center">
   
       <div *ngIf="column=='Acciones';else text" style="margin-left: 30%" >
         <div class="row" > 
         
           <div class="col text-center client-buttom-edit" title="Eliminar" (click)="delete(element.id,element.type)">
             <i class="far fa-trash-alt"></i>
           </div>
         </div>
   
       </div>
   
       <ng-template #text>
         <div>
           {{element[column]}}
         </div>
       </ng-template>
   
     </td>
   
   
   </ng-container>
   
   <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
   <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
     

           <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">% Compra</th>
                  <th scope="col">Exonerado</th>
                   <th scope="col">Cantidad</th>
                  <th scope="col">Base Imponible</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ac of element.products_or_services">
                  <td>{{ac.id}}</td>
                  <td>{{ac.name}}</td>
                  <td>{{ac.tax_percent}}</td>
                  <td>{{ac.percent_of_exoneration}}</td>
                  <td>{{ac.quantity}}</td>
                  <td>{{ac.tax_base}}</td>
                  <td>{{ac.total}}</td>

                </tr>
              
              </tbody>
            </table>
       
       
      </div>
    </td>
  </ng-container>
   
   <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
   <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
       class="example-element-row"
       [class.example-expanded-row]="expandedElement === element"
       (click)="expandedElement = expandedElement === element ? null : element">
   </tr>
   <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
   </table>
   <mat-paginator class="mat-elevation-z8"  [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>
        
 <br/>
 <mat-card>
      <mat-list role="list" *ngIf="cont == 0" >
        <mat-list-item role="listitem" *ngIf="cont == 0" style="background-color: #558300; margin-top: 0">
          <label class="col"><strong>Total Compra Neta</strong> </label>
          <label class="col"><strong>Total IVA (Devengado)</strong> </label>
          <label class="col"><strong> Total Compra</strong> </label>
          <label class="col"><strong>IVA Soportado</strong> </label>      
          <label class="col"><strong>IVA Deducible</strong> </label>
          <label class="col"><strong>Gasto</strong> 
            </label>
         
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="cont == 0">
            <label class="col">{{TotalCompraNeta | number}}</label>
            <label class="col">{{TotalIVA | number}}</label>
            <label class="col">{{TotalCompra | number}}</label>
            <label class="col">{{IVASoportado | number}}</label>
            <label class="col">{{IVADeducible | number}}</label>
            <label class="col"> {{Gasto | number}} </label>

        </mat-list-item>
        </mat-list> 
      <mat-list role="list" *ngIf="cont != 0" >   
        <mat-list-item role="listitem" *ngIf="cont != 0" style="background-color: #558300; margin-top: 0" >
          
          <label class="col colorletter"><strong>Total Compra Neta</strong> </label>
          <label class="col colorletter"><strong>Total IVA </strong> </label>
          <label class="col colorletter"><strong>Total Compra</strong>  </label>
          <label class="col colorletter"><strong>IVA Deducible 13%</strong>  </label>  
          <label class="col colorletter"><strong>IVA Deducible 2%</strong>  </label>
          <label class="col colorletter"><strong>IVA Prorrateado</strong> </label>
          <label class="col colorletter"><strong>Total Deducible</strong></label>
          <label class="col colorletter"><strong>Gasto</strong></label>

        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="cont != 0">
           <label class="col">{{TotalCompraNeta | number}}</label>
           <label class="col">{{TotalIVA | number}}</label>
           <label class="col">{{TotalCompra | number}}</label>
           <label class="col">{{IVA13 | number}}</label>
           <label class="col">{{IVA2 | number}}</label>
           <label class="col">{{IVAprorrateado | number}}</label>
           <label class="col">{{IVADeducible | number}}</label>
           <label class="col">
              {{Gasto | number}} 
           </label>
        </mat-list-item>
      </mat-list>

  </mat-card>


</div>
