.table-dark{
    background-color: #D4D4D4;
    color: black;
    border-color: #D4D4D4; 
}


table{
    width: 100%;
  }
  /* Structure */
  
  .example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  
  
  .mat-form-field {
    width: 100% !important;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  
  
  .client-input-filter{
    float:right;
  }
  
  .boton-excel{
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 23px;
  }
  
  .client-filter-buttom{
    display: inline-flex;
    width: 372px;
    float: right;
    margin-top: 16px;
  }
  
 
  
  .brower-select{
    width: 155px;
    padding: 26px 1px 1px 12px;
  }
  
  .icon-item{
    font-size: 19px;
    margin-left: 14px;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  .btn-group-sm .btn-fab{
    position: fixed !important;
    right: 29px;
  }
  .btn-group .btn-fab{
    position: fixed !important;
    right: 20px;
  }
  
  a.pointer {
    padding: 5px;
  }
  
  .client-buttom-edit{
    cursor: pointer;
  }
  .background-red {
    background-color: red;
  }
  .background-green {
    background-color:green;
  }
  .background-blue {
    background-color: blue;
  }
  .background-black {
    background-color: black;
  }
  .mat-toolbar-row {
    height: auto;
  }
  .navbar {
    box-shadow: none;
  }
.font-white {
  color: white;
}
th{
  font-size: x-small;
  color: black;

}
td{
  font-size: x-small;
 
}
.ver{
  position: fixed;
  top : 15%;
  right: 15%;
  width: 50%;
  height: 50&;
  background-color: black;
}
.boton{

  height: 50%;
  background-color: white;
    border-radius: 50%;
    size: 10%;
  }
    label{
    text-align: center;
    font-size: small;
    color: black;
  }
  mat-card{
    padding: 0;
  }

  .colorletter {
    color: #fff;
  }